# Python 3.9.19
albumentations==2.0.5
einops==0.8.0
numpy==2.0.2
opencv-python==4.10.0.84
pillow==10.4.0
PyYAML==6.0.2
tensorboard==2.18.0
timm==1.0.9
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.5
transformers==4.44.2
